<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <title>{% block title %}Bataille NAPOLEONIENNE!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/afpabattlegame/css/styles.css") }}"/>
        <script>
            var baseUrl = "{{ app.request.getBaseURL() }}";
            var baseUrlParts = baseUrl.split('/');
            //retirer le dernier element de l'url : app_dev.php : .pop
            //derniere cellule vide => faire pop
            // pour gerer si quelu'un ajoute un "/" :
            if (baseUrlParts[baseUrlParts.length - 1] == '') {
                baseUrlParts.pop();
            }
            //Ajout / a la fin de la chaine de cara
            var START_URL = baseUrlParts.join('/');
        </script>
        <script type="text/javascript" src="{{ asset("bundles/afpabattlegame/js/functions.js") }}"></script>
    </head>
    <body>
        <header>
            <img class ="logo" src="{{ asset("bundles/afpabattlegame/images/canon.gif") }}" />

            <marquee class= "bat" bgcolor=""WIDTH="50%" DIRECTION="LEFT" LOOP="-1">Bataille NAPOLEONNIENE</marquee>

            {% if app.request.session.get('oUser') is not null %}
                <div class ="logout">
                    Vous etes connecté : {{app.request.session.get('oUser').login}}<br>
                    <a href="{{ path('logout') }}"><input  type="submit" value="Déconnexion" /></a><br />
                </div>
            {% else %}
                <a href="{{ path('register') }}"><input class = "register" type="submit" value="Inscription" /></a><br />
                <a href="{{ path('login') }}"><input class = "login" type="submit" value="Connexion" /></a>
                {% endif %}


            <!-- On utilise la nouvelle balise HTML5 "nav" pour indiquer un élement de navigation dans notre site -->




            <nav>
                <ul>

                    <li><a href="{{ path('game_home') }}">Accueil</a></li>
                    <li><a href="{{ path('game_list') }}">Game room</a></li>



                </ul>
            </nav>
        </header>

        {% block body %}

        {% endblock %}

        <footer>
            <nav>
                <ul>
                    <li>YanRic 2016 @copyright</li>
                    <li>Qui sommes-nous ?</li>
                    <li><a href="contact.php">Contact</a></li>
                    <li><a href="https://fr.wikipedia.org/wiki/Bataille_navale_%28jeu%29">Règles</a></li>
                </ul>
            </nav>
        </footer>


    {% block javascripts %}{% endblock %}
</body>
</html>
