{% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block title %}AfpaBattleGameBundle:Game{% endblock %}

{% block redirection %}
    <meta http-equiv="refresh" content="2; URL={{ url('game_list') }}">
{% endblock %}

{% block body %}
    <div class="titreroom">
        <label > {{'Game Room'}}</label>
    </div>


    <h1>Liste des parties</h1>

    <a href="{{ path('game_create')}}" ><input class="createGame" type="button" value="Créer une nouvelle partie"
                                               {% if not app.request.session.get('oUser') is not null %}disabled="disabled" title="Vous devez être connecté"{%endif%} ></a>
    <br><br>

    <table class="listgame">
        {% for game in games %}
            <tr>
                <td class='colonne1'>{{  game.id }}</td>
                {# <td>{{ game.name }}</td> #}
                <td>{{ game.createdDate|date('d/m/y H:i:s')}}</td>
                <td>
                    {{ game.getUsers | length}} / 2
                    <br />
                    {% for user in game.getUsers %}
                        {{ user.getLogin }}<br />
                    {% endfor %}
                </td>

                <td>
                    {% if (game_user is not null) and game_user.id == game.id %}
                        En attente de joueurs...

                    {% elseif game.status == 0 %}
                        <a href="{{ path('game_join', {'idGame' : game.id })}}"><input  type="submit" value="Rejoindre" /></a><br>

                    {% elseif game.status == 1 %}
                        <a href="{{ path('game_play', {'idGame' : game.id })}}">
                            <input type="submit" value="Observer" />
                        </a>

                    {% elseif game.status == 2 %}
                        Partie terminée
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}
