{% extends "AfpaBattleGameBundle::layout.html.twig" %}

{% block title %}AfpaBattleGameBundle:Game{% endblock %}

{% block body %}
    <div class="titreroom">
        <label > {{'Game Room'}}</label>
    </div>


    <h1>Liste des parties</h1>
    <a href="{{ path('game_create')}}" ><input class="createGame" type="button" value="Créer une nouvelle partie"></a><br><br>

    <table class="listgame">
        {% for game in games %}

            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.createdDate|date('d/m/y H:i:s')}}</td>
            </tr>
            {% if game.status == 0 %}
                <div>
                    <a href="#"><input  type="submit" value="Rejoindre" /></a>
                </div>

            {% endif %}


        {% endfor %}
    </table>

{% endblock %}
